# Backend
backend/node_modules/
backend/database.db
backend/db.json
backend/.env

# Frontend
frontend/node_modules/
frontend/build/
frontend/.env

# Git submodule fix
node_modules/

# General
.DS_Store
*.log